<div class="container">
    <div class="row">
        <div class="col text-center">
            <img src="images/programmer.jpg" alt="Fajar Siagian" class="img-thumbnail rounded" width="200">
            <h1 class="display-4">Fajar Siagian</h1>
            <p class="lead">Fullstack Programmer</p>
        </div>
    </div>
</div>